<h1> Create New Artist </h1>
<br>
<%= form_for @artist do |f| %>
    <%= f.label "Artist Name" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label "Bio" %>
    <%= f.text_area :bio %>
    <br>
    <%= f.submit "Create Artist" %>
<% end %>
<br>
<br>
<%= button_to "List Songs", songs_path, html_options = { :method => :get} %>
<%= button_to "List Artists", artists_path, html_options = { :method => :get} %>
<%= button_to "List Genres", genres_path, html_options = { :method => :get} %>